.Dp01-B {
    font-size: 160px;
    font-weight: 900;
    line-height: 1.2;
}

.Dp01-R {
    font-size: 160px;
    font-weight: 400;
    line-height: 1.2;
}

.Dp02-B {
    font-size: 120px;
    font-weight: 900;
    line-height: 1.2;
}

.Dp02-R {
    font-size: 120px;
    font-weight: 400;
    line-height: 1.2;
}

.Dp03-B {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.2;
}

.Dp03-R {
    font-size: 80px;
    font-weight: 400;
    line-height: 1.2;
}

.Hd01-B {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
}

.Hd01-R {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.2;
}

.Hd02-B {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.2;
}

.Hd02-R {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.2;
}

.Hd03-B {
    font-size: 32px;
    font-weight: 900;
    line-height: 1.2;
}

.Hd03-R {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
}

.Hd04-B {
    font-size: 28px;
    font-weight: 900;
    line-height: 1.2;
}

.Hd04-R {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
}

.Hd05-B {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
}

.Hd05-R {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
}

.Hd06-B {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
}

.Hd06-R {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.Body-B {
    font-size: 16px;
    font-weight: 900;
    line-height: 1.5;
}

.Body-R {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.Small-B {
    font-size: 14px;
    font-weight: 900;
    line-height: 1.5;
}

.Small-R {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.Tiny-B {
    font-size: 12px;
    font-weight: 900;
    line-height: 1.5;
}

.Tiny-R {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.Tiny-R1 {
    font-size: 121px;
    font-weight: 400;
    line-height: 1.5;
}

.red {
    color: red;
}